version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.cakephp
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - db
    networks:
      - app_network
    volumes:
      - ./cakephp:/var/www/html
    environment:
      - USER=cakephp_user
    extra_hosts:
      - "host.docker.internal:host-gateway"
  db:
    build:
      context: .
      dockerfile: Dockerfile.postgres
    environment:
      POSTGRES_USER: cakephp
      POSTGRES_PASSWORD: cakephp
      POSTGRES_DB: cakephp
    ports:
      - "5432:5432"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
